* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

/*Selector id*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
    max-width: 0 auto;
}

#cabecera {
    height: 15%;
}

#barraNav {
    height: 5%;
    background-color: rgb(171,161,134);
    margin: 1em auto;
}


#aside {
    height: 80%;
    width: 35%;
    background-color: rgb(190,193,79);
    margin: 0.5em;
    float: right;
}

#seccion {
    height: 80%;
    width: 61%;
    background-color:  rgb(151,158,54);
    margin: 0.5em;
    float: left;
}

#pie {
    height: 5%;
    width: 100%;
    background-color: rgb(189, 3, 3);
    margin: auto;
    float: left;
}

.encabezadoTitulo {
    text-align: center;
    background-color:  rgb(230,200,149);
    margin: auto;
}


nav{
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.texto {
    text-align: justify;
    font-size: medium;
    margin: auto 2em;
    border-style: dashed;
}

.encabezado_articulo {
    margin: auto 2em;
}

/*body {
    background-color:  rgb(230,200,149);
}*/

header {
    background-color:  rgb(230,200,149);
}

nav {
    background-color: rgb(171,161,134);
}


.pieNav {
    text-align: center; 
    padding-top: 16px;
    color: white;
}

/* Selector de etiqueta html */
ul {

}

li {
  padding-left: 1em;  
}

img {
    width: 100px;
    height: 100px;
    border: 1px;
    border-style: solid;
}